HUBSPOT_PORTAL_ID=148229316
HUBSPOT_CONTACT_FORM_GUID=your_contact_form_guid_here
HUBSPOT_LEAD_MAGNET_FORM_GUID=45bde496-c61e-4a76-9430-99833be4224a
NEXT_PUBLIC_SITE_URL=https://aplicatech.com
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/aplica/30min
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
